# Change very often
PROJECT_NAME           = ChordFinder
PROJECT_NUMBER         = 
OUTPUT_DIRECTORY       = ../doxygen-docs
INPUT                  = ./
FILE_PATTERNS          = *.hh *.h *.H *.c *.cc *.icc *.cxx *.cpp *.C *.java *.jav
RECURSIVE              = NO

ENABLE_PREPROCESSING = YES
MACRO_EXPANSION      = YES
EXPAND_ONLY_PREDEF   = YES
# I/O
QUIET                  = NO
WARNINGS               = YES
WARN_IF_UNDOCUMENTED   = YES
WARN_FORMAT            = "$file:$line: $text"
WARN_LOGFILE           = 

# Might change sometimes
BRIEF_MEMBER_DESC      = YES
FULL_PATH_NAMES        = NO
STRIP_FROM_PATH        = 
IMAGE_PATH             = 
INCLUDE_PATH           = 
INCLUDE_FILE_PATTERNS  = 
JAVADOC_AUTOBRIEF      = YES
OPTIMIZE_OUTPUT_FOR_C  = NO
OPTIMIZE_OUTPUT_JAVA   = NO

# Probably never changes, but different to defaults!
GENERATE_LATEX         = NO
EXTRACT_ALL            = YES
EXTRACT_PRIVATE        = YES
EXTRACT_STATIC         = YES
DETAILS_AT_TOP         = YES
TAB_SIZE               = 4
HTML_OUTPUT            = .
SOURCE_BROWSER         = YES
ALPHABETICAL_INDEX     = YES
GENERATE_TREEVIEW      = YES
TREEVIEW_WIDTH         = 200
